<h1>Bienvenido {{usuarioNombre}}</h1>
<input *ngIf="visible" type="text" [(ngModel)]="usuarioNombre">
<button *ngIf="visible" (click)="onAgregrarUsuario()">Agregar</button>
<div *ngFor="let usuario of usuarios">
  {{usuario}}
</div>
